Repository Alfresco/alfresco-content-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --single-quote --write, eslint

.lintstagedrc.json:

{
  "*.{ts, js, html}": ["prettier --single-quote --write", "eslint"],
  "*.{css, scss}": ["prettier --single-quote --write"]
}

ACS-3860 - removed useless getter and setter
  projects/aca-folder-rules/src/lib/rule-details/actions/rule-action.ui-component.ts
Due: prettier --single-quote --write, eslint

ACS-3860 - unit tests
  projects/aca-folder-rules/src/lib/mock/actions.mock.ts
  projects/aca-folder-rules/src/lib/rule-details/actions/rule-action.ui-component.spec.ts
  projects/aca-folder-rules/src/lib/rule-details/actions/rule-action.ui-component.ts
Due: prettier --single-quote --write, eslint

ACS-3860 - linting
  projects/aca-folder-rules/src/lib/manage-rules/manage-rules.smart-component.ts
  projects/aca-folder-rules/src/lib/mock/actions.mock.ts
  projects/aca-folder-rules/src/lib/rule-details/actions/rule-action-list.ui-component.ts
  projects/aca-folder-rules/src/lib/rule-details/actions/rule-action.ui-component.ts
  projects/aca-folder-rules/src/lib/rule-details/edit-rule-dialog.smart-component.ts
  projects/aca-folder-rules/src/lib/rule-details/rule-details.ui-component.ts
Due: prettier --single-quote --write, eslint

ACS-3860 - added 'noderef' to cspell.json
  cspell.json
Due: none

ACS-3860 - i18n
  projects/aca-folder-rules/assets/i18n/en.json
  projects/aca-folder-rules/src/lib/rule-details/actions/rule-action.ui-component.ts
Due: prettier --single-quote --write, eslint

ACS-3860 - small fix
  projects/aca-folder-rules/src/lib/rule-details/actions/rule-action.ui-component.ts
Due: prettier --single-quote --write, eslint

Remove ExtensionsDataLoaderGuard from shell
  app/src/app/app-shell/app-shell.routes.ts
  app/src/app/content-plugin/content.routes.ts
Due: prettier --single-quote --write, eslint

[ACS-3860] Folder rules - Node picker for action parameters of type "d:noderef" (#2800)
  cspell.json
  projects/aca-folder-rules/assets/i18n/en.json
  projects/aca-folder-rules/src/lib/manage-rules/manage-rules.smart-component.html
  projects/aca-folder-rules/src/lib/manage-rules/manage-rules.smart-component.ts
  projects/aca-folder-rules/src/lib/mock/actions.mock.ts
  projects/aca-folder-rules/src/lib/rule-details/actions/rule-action-list.ui-component.html
  projects/aca-folder-rules/src/lib/rule-details/actions/rule-action-list.ui-component.ts
  projects/aca-folder-rules/src/lib/rule-details/actions/rule-action.ui-component.spec.ts
  projects/aca-folder-rules/src/lib/rule-details/actions/rule-action.ui-component.ts
  projects/aca-folder-rules/src/lib/rule-details/edit-rule-dialog.smart-component.html
  projects/aca-folder-rules/src/lib/rule-details/edit-rule-dialog.smart-component.ts
  projects/aca-folder-rules/src/lib/rule-details/rule-details.ui-component.html
  projects/aca-folder-rules/src/lib/rule-details/rule-details.ui-component.ts
Due: prettier --single-quote --write, eslint

[ci:force][auto-commit] Update @alfresco/js-api to 5.2.0-423 for branch: update-alfresco-dependencies originated from @alfresco/js-api PR: 37108
  package-lock.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-extensions to 5.2.0-37106 for branch: update-alfresco-dependencies originated from @alfresco/adf-extensions PR: 37108
  package-lock.json
  package.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-core to 5.2.0-37106 for branch: update-alfresco-dependencies originated from @alfresco/adf-core PR: 37108
  package-lock.json
  package.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-content-services to 5.2.0-37106 for branch: update-alfresco-dependencies originated from @alfresco/adf-content-services PR: 37108
  package-lock.json
  package.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-cli to 5.2.0-37106 for branch: update-alfresco-dependencies originated from @alfresco/adf-cli PR: 37108
  package-lock.json
  package.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-testing to 5.2.0-37106 for branch: update-alfresco-dependencies originated from @alfresco/adf-testing PR: 37108
  package-lock.json
  package.json
Due: none

Update branch for ADF 37108 and JS-API 5.2.0-423 [ci:force] (#2804)
  package-lock.json
  package.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-extensions to 5.2.0-37114 for branch: update-alfresco-dependencies originated from @alfresco/adf-extensions PR: 37122
  package-lock.json
  package.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-core to 5.2.0-37114 for branch: update-alfresco-dependencies originated from @alfresco/adf-core PR: 37122
  package-lock.json
  package.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-content-services to 5.2.0-37114 for branch: update-alfresco-dependencies originated from @alfresco/adf-content-services PR: 37122
  package-lock.json
  package.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-cli to 5.2.0-37114 for branch: update-alfresco-dependencies originated from @alfresco/adf-cli PR: 37122
  package-lock.json
  package.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-testing to 5.2.0-37114 for branch: update-alfresco-dependencies originated from @alfresco/adf-testing PR: 37122
  package-lock.json
  package.json
Due: none

[ACS-4036] Move ay11 focus feature to one file and fix 'jumping'
  app/src/app/content-plugin/ui/ay11.scss
  app/src/app/content-plugin/ui/custom-theme.scss
  app/src/app/content-plugin/ui/mixins.scss
  app/src/app/content-plugin/ui/overrides/adf-pagination.theme.scss
  app/src/app/content-plugin/ui/theme.scss
Due: none

[ACS-4036] Move ay11 stylesheet to correct folder
  app/src/app/content-plugin/ui/overrides/ay11.scss
Due: none

[ACS-4036] Move ay11 focus feature to one file and fix 'jumping' (#2805)
  app/src/app/content-plugin/ui/custom-theme.scss
  app/src/app/content-plugin/ui/mixins.scss
  app/src/app/content-plugin/ui/overrides/adf-pagination.theme.scss
  app/src/app/content-plugin/ui/overrides/ay11.scss
  app/src/app/content-plugin/ui/theme.scss
Due: none

[ACS-3967] added open sans font to ACA (#2775)
  angular.json
  app/src/app/content-plugin/ui/custom-theme.scss
  app/src/app/content-plugin/ui/variables/font-family.scss
  app/src/assets/fonts/OpenSans/OFL.txt
  app/src/assets/fonts/OpenSans/OpenSans-Bold.ttf
  app/src/assets/fonts/OpenSans/OpenSans-ExtraBold.ttf
  app/src/assets/fonts/OpenSans/OpenSans-Light.ttf
  app/src/assets/fonts/OpenSans/OpenSans-Medium.ttf
  app/src/assets/fonts/OpenSans/OpenSans-Regular.ttf
  app/src/assets/fonts/OpenSans/OpenSans-SemiBold.ttf
  app/src/assets/fonts/OpenSans/OpenSans.css
  app/src/assets/fonts/muli/Muli-Black.ttf
  app/src/assets/fonts/muli/Muli-BlackItalic.ttf
  app/src/assets/fonts/muli/Muli-Bold.ttf
  app/src/assets/fonts/muli/Muli-BoldItalic.ttf
  app/src/assets/fonts/muli/Muli-ExtraBold.ttf
  app/src/assets/fonts/muli/Muli-ExtraBoldItalic.ttf
  app/src/assets/fonts/muli/Muli-ExtraLight.ttf
  app/src/assets/fonts/muli/Muli-ExtraLightItalic.ttf
  app/src/assets/fonts/muli/Muli-Italic.ttf
  app/src/assets/fonts/muli/Muli-Light.ttf
  app/src/assets/fonts/muli/Muli-LightItalic.ttf
  app/src/assets/fonts/muli/Muli-Regular.ttf
  app/src/assets/fonts/muli/Muli-SemiBold.ttf
  app/src/assets/fonts/muli/Muli-SemiBoldItalic.ttf
  app/src/assets/fonts/muli/muli.css
Due: prettier --single-quote --write

ACS-3758 Return focus to New button after closing dialog opened from New menu
  app/src/app/content-plugin/services/content-management.service.ts
  app/src/app/content-plugin/services/node-template.service.ts
Due: prettier --single-quote --write, eslint

ACS-3758 Fixed unit tests
  app/src/app/content-plugin/services/node-template.service.spec.ts
Due: prettier --single-quote --write, eslint

[ACS-3758] 880526 modal is closed focus is not returned to trigger in the create new menu (#2809)
  app/src/app/content-plugin/services/content-management.service.ts
  app/src/app/content-plugin/services/node-template.service.spec.ts
  app/src/app/content-plugin/services/node-template.service.ts
Due: prettier --single-quote --write, eslint

Update branch for ADF 37122 and JS-API 5.2.0-423 [ci:force] (#2807)
  package-lock.json
  package.json
Due: none

[ACS-3513] [ACS-3515] Create, edit and delete rule set link
  projects/aca-folder-rules/assets/i18n/en.json
  projects/aca-folder-rules/src/lib/folder-rules.module.ts
  projects/aca-folder-rules/src/lib/manage-rules/manage-rules.smart-component.html
  projects/aca-folder-rules/src/lib/manage-rules/manage-rules.smart-component.scss
  projects/aca-folder-rules/src/lib/manage-rules/manage-rules.smart-component.ts
  projects/aca-folder-rules/src/lib/rule-details/edit-rule-dialog.smart-component.spec.ts
  projects/aca-folder-rules/src/lib/rule-details/edit-rule-dialog.smart-component.ts
  projects/aca-folder-rules/src/lib/rule-list/rule-list-grouping/rule-list-grouping.ui-component.html
  projects/aca-folder-rules/src/lib/rule-list/rule-list-grouping/rule-list-grouping.ui-component.spec.ts
  projects/aca-folder-rules/src/lib/rule-list/rule-list-grouping/rule-list-grouping.ui-component.ts
  projects/aca-folder-rules/src/lib/rule-list/rule-list-item/rule-list-item.ui-component.html
  projects/aca-folder-rules/src/lib/rule-list/rule-list-item/rule-list-item.ui-component.ts
  projects/aca-folder-rules/src/lib/rule-list/rule-list/rule-list.ui-component.html
  projects/aca-folder-rules/src/lib/rule-list/rule-list/rule-list.ui-component.scss
  projects/aca-folder-rules/src/lib/rule-list/rule-list/rule-list.ui-component.spec.ts
  projects/aca-folder-rules/src/lib/rule-list/rule-list/rule-list.ui-component.ts
  projects/aca-folder-rules/src/lib/rule-set-picker/rule-set-picker.smart-component.html
  projects/aca-folder-rules/src/lib/rule-set-picker/rule-set-picker.smart-component.scss
  projects/aca-folder-rules/src/lib/rule-set-picker/rule-set-picker.smart-component.ts
  projects/aca-folder-rules/src/lib/services/folder-rule-sets.service.ts
Due: prettier --single-quote --write, eslint

[ci:force][auto-commit] Update @alfresco/js-api to 5.2.0-435 for branch: update-alfresco-dependencies originated from @alfresco/js-api PR: 37162
  package-lock.json
  package.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-extensions to 5.2.0-37160 for branch: update-alfresco-dependencies originated from @alfresco/adf-extensions PR: 37162
  package-lock.json
  package.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-core to 5.2.0-37160 for branch: update-alfresco-dependencies originated from @alfresco/adf-core PR: 37162
  package-lock.json
  package.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-content-services to 5.2.0-37160 for branch: update-alfresco-dependencies originated from @alfresco/adf-content-services PR: 37162
  package-lock.json
  package.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-cli to 5.2.0-37160 for branch: update-alfresco-dependencies originated from @alfresco/adf-cli PR: 37162
  package-lock.json
  package.json
Due: none

[ci:force][auto-commit] Update @alfresco/adf-testing to 5.2.0-37160 for branch: update-alfresco-dependencies originated from @alfresco/adf-testing PR: 37162
  package-lock.json
  package.json
Due: none

[ACS-3513] [ACS-3515] Create, edit and delete rule set link (#2810)
  projects/aca-folder-rules/assets/i18n/en.json
  projects/aca-folder-rules/src/lib/folder-rules.module.ts
  projects/aca-folder-rules/src/lib/manage-rules/manage-rules.smart-component.html
  projects/aca-folder-rules/src/lib/manage-rules/manage-rules.smart-component.scss
  projects/aca-folder-rules/src/lib/manage-rules/manage-rules.smart-component.ts
  projects/aca-folder-rules/src/lib/rule-details/edit-rule-dialog.smart-component.spec.ts
  projects/aca-folder-rules/src/lib/rule-details/edit-rule-dialog.smart-component.ts
  projects/aca-folder-rules/src/lib/rule-list/rule-list-grouping/rule-list-grouping.ui-component.html
  projects/aca-folder-rules/src/lib/rule-list/rule-list-grouping/rule-list-grouping.ui-component.spec.ts
  projects/aca-folder-rules/src/lib/rule-list/rule-list-grouping/rule-list-grouping.ui-component.ts
  projects/aca-folder-rules/src/lib/rule-list/rule-list-item/rule-list-item.ui-component.html
  projects/aca-folder-rules/src/lib/rule-list/rule-list-item/rule-list-item.ui-component.ts
  projects/aca-folder-rules/src/lib/rule-list/rule-list/rule-list.ui-component.html
  projects/aca-folder-rules/src/lib/rule-list/rule-list/rule-list.ui-component.scss
  projects/aca-folder-rules/src/lib/rule-list/rule-list/rule-list.ui-component.spec.ts
  projects/aca-folder-rules/src/lib/rule-list/rule-list/rule-list.ui-component.ts
  projects/aca-folder-rules/src/lib/rule-set-picker/rule-set-picker.smart-component.html
  projects/aca-folder-rules/src/lib/rule-set-picker/rule-set-picker.smart-component.scss
  projects/aca-folder-rules/src/lib/rule-set-picker/rule-set-picker.smart-component.ts
  projects/aca-folder-rules/src/lib/services/folder-rule-sets.service.ts
Due: prettier --single-quote --write, eslint

Update branch for ADF 37162 and JS-API 5.2.0-435 [ci:force] (#2811)
  package-lock.json
  package.json
Due: none

ACS-3895 - initial layout
  projects/aca-folder-rules/src/lib/manage-rules/manage-rules.smart-component.html
  projects/aca-folder-rules/src/lib/manage-rules/manage-rules.smart-component.scss
Due: none

ACS-3895 - finished functionality
  projects/aca-folder-rules/assets/i18n/en.json
  projects/aca-folder-rules/src/lib/manage-rules/manage-rules.smart-component.html
  projects/aca-folder-rules/src/lib/manage-rules/manage-rules.smart-component.ts
  projects/aca-folder-rules/src/lib/model/rule.model.ts
  projects/aca-folder-rules/src/lib/services/folder-rule-sets.service.ts
  projects/aca-folder-rules/src/lib/services/folder-rules.service.ts
Due: prettier --single-quote --write, eslint
