Repository Alfresco/alfresco-content-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --single-quote --write, eslint

fix playwright test run
  projects/aca-playwright-shared/src/base-config/global-variables.ts
  projects/aca-playwright-shared/src/fixtures/page-initialization.ts
Due: prettier --single-quote --write, eslint

playwright action yml added
  .github/actions/run-e2e-playwright/action.yml
  .github/workflows/pull-request.yml
Due: none

add test id from testrail
  e2e/playwright/folder-rules/src/tests/actions.spec.ts
  e2e/playwright/folder-rules/src/tests/conditions.spec.ts
  e2e/playwright/folder-rules/src/tests/manage-rules.spec.ts
  projects/aca-playwright-shared/src/page-objects/components/actions-dropdown.component.ts
Due: prettier --single-quote --write, eslint

tsconfig path fix
  .github/workflows/pull-request.yml
  e2e/playwright/actions/playwright.config.ts
  e2e/playwright/actions/src/tests/create-folder.spec.ts
  e2e/playwright/actions/tsconfig.e2e.adf.json
  e2e/playwright/actions/tsconfig.e2e.json
  e2e/playwright/folder-rules/playwright.config.ts
  e2e/playwright/folder-rules/tsconfig.e2e.adf.json
  e2e/playwright/folder-rules/tsconfig.e2e.json
Due: prettier --single-quote --write, eslint

merge conflits
  package-lock.json
Due: none

use latest adf
  package-lock.json
  package.json
  scripts/update-version.sh
Due: none

rollback js-api
  package-lock.json
  package.json
Due: none

fix menu positioning
  projects/aca-shared/src/lib/components/tool-bar/toolbar-menu/toolbar-menu.component.html
Due: none

fix gha
  .github/actions/run-e2e-playwright/action.yml
  .github/actions/run-e2e/action.yml
Due: none

fix credentials
  .github/workflows/pull-request.yml
Due: none

ACS-5328-adding-more-tests-to-create-folder
  e2e/playwright/actions/src/tests/create-folder.spec.ts
  projects/aca-playwright-shared/src/page-objects/components/dialogs/adf-folder-dialog.component.ts
  projects/aca-playwright-shared/src/utils/folder-errors.ts
  projects/aca-playwright-shared/src/utils/index.ts
Due: prettier --single-quote --write, eslint

try to increase e2e instances
  .github/actions/run-e2e/action.yml
Due: none

try to make protractor vars global
  .github/actions/run-e2e/action.yml
  .github/workflows/pull-request.yml
Due: none

switch to browser run
  .github/workflows/pull-request.yml
Due: none

remove browser run
  .github/workflows/pull-request.yml
Due: none

try to increase e2e instances (#3281)
  .github/workflows/pull-request.yml
Due: none

removing playwright if statement
  .github/actions/run-e2e/action.yml
Due: none

[ACS-5455] fixed excluded e2e tests
  e2e/protractor/protractor.excludes.json
  e2e/protractor/suites/search/search-filters.test.ts
  projects/aca-testing-shared/src/components/search/filters/autocomplete-chips-filter.ts
  projects/aca-testing-shared/src/components/search/search-filters.ts
Due: prettier --single-quote --write, eslint

Revert "removing playwright if statement"
  .github/actions/run-e2e/action.yml
Due: none

[ACS-5455] fixed excluded e2e tests (#3282)
  e2e/protractor/protractor.excludes.json
  e2e/protractor/suites/search/search-filters.test.ts
  projects/aca-testing-shared/src/components/search/filters/autocomplete-chips-filter.ts
  projects/aca-testing-shared/src/components/search/search-filters.ts
Due: prettier --single-quote --write, eslint

delete unused file playwright old
  e2e/playwright/shared/fixtures/page-initialization.ts
  e2e/playwright/tests/actions/create/create-folder.spec.ts
Due: prettier --single-quote --write, eslint

use published version of the material icons
  app/project.json
  app/src/assets/fonts/material-icons/MaterialIcons-Regular.eot
  app/src/assets/fonts/material-icons/MaterialIcons-Regular.ijmap
  app/src/assets/fonts/material-icons/MaterialIcons-Regular.svg
  app/src/assets/fonts/material-icons/MaterialIcons-Regular.ttf
  app/src/assets/fonts/material-icons/MaterialIcons-Regular.woff
  app/src/assets/fonts/material-icons/MaterialIcons-Regular.woff2
  app/src/assets/fonts/material-icons/README.md
  app/src/assets/fonts/material-icons/codepoints
  app/src/assets/fonts/material-icons/material-icons.css
  app/src/styles.scss
  package-lock.json
  package.json
Due: prettier --single-quote --write

remove reference to css
  app/project.json
Due: none

[ACS-5328] initial-create-folder-test (#3243)
  .gitignore
  e2e/playwright/actions/src/tests/create-folder.spec.ts
  projects/aca-playwright-shared/src/page-objects/components/dialogs/adf-folder-dialog.component.ts
  projects/aca-playwright-shared/src/utils/folder-errors.ts
  projects/aca-playwright-shared/src/utils/index.ts
Due: prettier --single-quote --write, eslint

use outlined icons by default
  app/src/app/app.module.ts
Due: prettier --single-quote --write, eslint

[ACS-5166] use published version of the material icons (#3283)
  app/project.json
  app/src/app/app.module.ts
  app/src/assets/fonts/material-icons/MaterialIcons-Regular.eot
  app/src/assets/fonts/material-icons/MaterialIcons-Regular.ijmap
  app/src/assets/fonts/material-icons/MaterialIcons-Regular.svg
  app/src/assets/fonts/material-icons/MaterialIcons-Regular.ttf
  app/src/assets/fonts/material-icons/MaterialIcons-Regular.woff
  app/src/assets/fonts/material-icons/MaterialIcons-Regular.woff2
  app/src/assets/fonts/material-icons/README.md
  app/src/assets/fonts/material-icons/codepoints
  app/src/assets/fonts/material-icons/material-icons.css
  app/src/styles.scss
  package-lock.json
  package.json
Due: prettier --single-quote --write, eslint

use published open sans font
  app/project.json
  app/src/assets/fonts/OpenSans/OFL.txt
  app/src/assets/fonts/OpenSans/OpenSans-Bold.ttf
  app/src/assets/fonts/OpenSans/OpenSans-ExtraBold.ttf
  app/src/assets/fonts/OpenSans/OpenSans-Light.ttf
  app/src/assets/fonts/OpenSans/OpenSans-Medium.ttf
  app/src/assets/fonts/OpenSans/OpenSans-Regular.ttf
  app/src/assets/fonts/OpenSans/OpenSans-SemiBold.ttf
  app/src/assets/fonts/OpenSans/OpenSans.css
  app/src/styles.scss
  package-lock.json
  package.json
Due: prettier --single-quote --write

[ACS-5473] e2e devide in two part
  .github/workflows/pull-request.yml
Due: none

[ACS-5473] e2e devide in two parts
  .github/workflows/pull-request.yml
Due: none

[ACS-5473] add session veriable
  .github/workflows/pull-request.yml
  protractor.conf.js
Due: none

[ACS-5166] use published open sans font (#3284)
  app/project.json
  app/src/assets/fonts/OpenSans/OFL.txt
  app/src/assets/fonts/OpenSans/OpenSans-Bold.ttf
  app/src/assets/fonts/OpenSans/OpenSans-ExtraBold.ttf
  app/src/assets/fonts/OpenSans/OpenSans-Light.ttf
  app/src/assets/fonts/OpenSans/OpenSans-Medium.ttf
  app/src/assets/fonts/OpenSans/OpenSans-Regular.ttf
  app/src/assets/fonts/OpenSans/OpenSans-SemiBold.ttf
  app/src/assets/fonts/OpenSans/OpenSans.css
  app/src/styles.scss
  package-lock.json
  package.json
Due: prettier --single-quote --write

rollback icon changes
  app/project.json
  projects/aca-content/assets/app.extensions.json
Due: none

fix update version script
  scripts/update-version.sh
Due: none

Path conditions:
  prettier --single-quote --write: (any of: *.{ts, js, html}) or (any of: *.{css, scss})
  eslint: any of: *.{ts, js, html}
